@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: rgb(32, 114, 255);
    --white: white;
    --grey-300: grey;
}
main{
    gap: 3rem;
    background-color: rgb(186, 186, 186);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist",cursive;
}
.line{
    width: 100%;
    height: 1px;
    background-color: var(--grey-300);
}
.container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 2rem 5rem;
    gap: 1rem;
    flex-direction: column;
    background-color: white;
}
.container h1{
    font-weight: 700;
    font-size: 2rem;
}
.card-container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    gap: 1.5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-small{

}
.card-icon{
    display: flex;
    width: fit-content;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 8px;
}
.card-icon i{
    font-size: 24px;
    color: white;
    line-height: 100%;
}
.card-link a{
    color: var(--primary-color);
}
button.primary{
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 600;
    font-size: 16px;
    width: fit-content;
}
.card-icon-without-bg{
    background-color: none;
    margin-right: 0.5rem;
}
.card-icon-without-bg i{
    font-size: 24px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-footer>i{
    background-color: var(--primary-color);
    font-size: 12px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
}
.card-footer .right{
    display: flex;
    gap: 10px;
}
.row-3 .card-container .card-item{
    background-image: url(/img/moon.jpg);
    background-size: cover;
    border-radius: 8px;
    color: white;
    min-height: 300px;
    width: auto;
    justify-content: flex-end;
    flex: 1 1 auto;
    overflow: hidden;
    background-position: bottom;
    background-color: black;

}
.card-item+#cc2{
    background-image: url(/img/flower.jpg);
}
.card-item+#cc3{
    background-image: url(/img/river.jpg);
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.row-3 .card-container .card-item .content{
    padding: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0));
}
.custom-cards .card-item h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 100%;
}
.tile-container{
    display: grid;
    margin: 2rem 0;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 700px){
    .card-container{
        flex-direction: column;
    }
    .content{
        gap: 1rem;
    }
    .tile-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 480px){
    .tile-container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .container{
        padding: 2rem;
    }
    .card-container{
        gap: 2rem;
    }
}